body, h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif
}

.w3-row-padding img {
    margin-bottom: 12px
}

/* Set the width of the sidebar to 120px */
.w3-sidebar {
    width: 120px;background: #fff;
}

/* side bar width when small */
#myNavbar .w3-bar-item.w3-button {
    width:33% !important;
}

nav img {
    width: 100%;
}

/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {
    margin-left: 120px
}

/* Remove margins from "page content" on small screens */
@media only screen and (
max-width: 600px
) {#main {margin-left: 0}}

#home img {
    width: 50%;
    height: 50%;
}

hr {
    width: 200px;
}

.questionTxt {
    white-space: pre;
}
.questionTxt p {
    margin: 0;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.w3-input {
    max-width: max-content;
}